.nav-bar {
  border: 1px solid black;
  height: 100vh;
  overflow: hidden;
  display: flex;
  color: grey;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.nav-bar h2 {
  font-weight: 400;
  margin: 30px auto;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar li {
  padding: 20px 15px;
}

.nav-link {
  text-decoration: none;
  color: grey;
  font-size: 20px;
}

.nav-bar li:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

a:hover {
  color: white;
}
