body {
  font-family: "Lato", sans-serif;
}

.content {
  background-color: #e7e3e3;
  margin-left: 250px;
  height: 100vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}