body {
  font-family: "Lato", sans-serif;
}

.content {
  background-color: #e7e3e3;
  margin-left: 250px;
  height: 100vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shocked {
  animation: shock 3s ease-in-out;
}

@keyframes shock {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-50px);
  }
  20% {
    transform: translateY(50px);
  }
  30% {
    transform: translateY(-50px);
  }
  40% {
    transform: translateY(0);
  }
}